body {
    background-color: #121212;
    color: white;
    font-family: 'Segoe UI', sans-serif;
    display: flex;
    justify-content: center;
    padding: 20px;
}

.container {
    width: 100%;
    max-width: 780px;
    background: #1e1e1e;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.5);
}

h1 { text-align: center; color: #ff4757; }

.input-group { display: flex; gap: 10px; margin-bottom: 20px; }

input {
    flex: 1;
    padding: 10px;
    border-radius: 5px;
    border: none;
    background: #333;
    color: white;
}

button {
    padding: 10px;
    background: #ff4757;
    border: none;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
}

button:hover { background: #ff6b81; }

ul { list-style: none; padding: 0; }

li {
    background: #2f3542;
    margin-bottom: 10px;
    padding: 15px;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

.fait {
    text-decoration: line-through;
    opacity: 0.5;
    border-left: 5px solid #2ed573;
}

.timer-section {
    margin-top: 30px;
    text-align: center;
    border-top: 1px solid #333;
    padding-top: 20px;
}

#muscleSelect {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ddd;
    background-color: rgb(243, 235, 235);
    cursor: pointer;
    font-size: 14px;
}

li span {
    display: block;
    width: 100%;
}